{%extends 'base.html'%}
{%block page_title%}
USERS
{%endblock page_title%}

{%block content%}
    <br>
    <h1 class='h1-class'>COMPRAS</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" >Nome</th>
                <th scope="col" >Preço</th>
                <th scope="col" >Categoria</th>
                <th scope="col" >Cartão de crédito</th>
                <th scope="col" >Descrição</th>
                <th scope="col" >Data de compra</th>
                <th scope="col" >Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for purch in purchase_list %}
            <tr>
                <td scope="row">{{ purch.name }}</td>
                <td scope="row">{{ purch.price }}</td>
                <td scope="row">{{ purch.category }}</td>
                <td scope="row">{{ purch.credit_card }}</td>
                <td scope="row">{{ purch.description }}</td>
                <td scope="row">{{ purch.data_of_purchase }}</td>
                <td scope="row">
                <a href="{% url 'delete_purchase' pk=purch.pk %}" class='btn btn-danger btn-sm' data-confirm="Tem certeza que deseja excluir este item?">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-outline-success" id="add-new-purchase-btn">Adicionar Nova Compra</button>

    <div id="new-purchase-form" class="div-custom" style="display: none;">
    <br>
    <h4>Adicionar Nova Compra</h4>
    <form method="post" action="{% url 'create_purchase' %}" class="form-horizontal">
        {% csrf_token %}
        <div class="flex-container">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Preço:</label>
                <div class="col-sm-10">
                    <input type="number" id="price" name="price" class="form-control" min="0.01" step="0.01" required>
                </div>
            </div>
            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">Categoria:</label>
                <div class="col-sm-10">
                    <select type="text" id="category" name="category" class="form-control" required>
                        <option value="Education">Education</option>
                        <option value="Health">Health</option>
                        <option value="Travel">Travel</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Investment">Investment</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Food">Food</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Home">Home</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="credit_card" class="col-sm-2 control-label">Cartão de Crédito:</label>
                <div class="col-sm-10">
                    <select type="text" id="credit_card" name="credit_card" class="form-control" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    </select>
                </div>
            </div>
        </div><br>
        <div class="flex-container">
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Descrição:</label>
                <div class="col-sm-10">
                    <textarea id="description" name="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="data_of_purchase" class="col-sm-2 control-label">Data de Compra:</label>
                <div class="col-sm-10">
                    <input placeholder="10-10-2026" type="text" id="data_of_purchase" name="data_of_purchase" class="form-control">
                </div>
            </div>
        </div><br>
        <div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </div>
    </form>
</div>
{% endblock %}